<div *ngIf="deviceData">
    <div class="content">
        <a [routerLink]="['/devices', deviceData.Name]" class="title">{{deviceData.Name}}</a>
        <mat-card-actions>
            <button mat-button class="turn-on" (click)="turnOn(deviceData.Name)" [disabled]="deviceData.Status">Turn On</button>
            <button mat-button class="turn-off" (click)="turnOff(deviceData.Name)" [disabled]="!deviceData.Status">Turn Off</button>
        </mat-card-actions>
    </div>
    <div class="status" [ngClass]="{'in-stock': deviceData.Status, 'not-in-stock': !deviceData.Status}">
        <p>{{getState()}}</p>
    </div>
</div>
