:host > div{ 
    box-shadow: 0 1px 3px rgba(176,11,105,0.12), 0 1px 2px rgba(176,11,105,1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.content, .status{
    padding: 1rem;
    margin: 0;
}
div > .content{
    display: flex;
    flex-direction: column;
    flex: 1
}
div > .title{
    font-size: 1.2rem;
    color: #B00B69;
    flex: 1;
}
div > .status{
    display: grid;
    place-items: center;
    color: white;
}

.status.in-stock{
    background-color: #009688;
}
.status.not-in-stock{
    background-color: #f44336;
}

mat-card-actions{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    width: fit-content;
    margin: 0;
}
mat-card-actions .turn-on, 
mat-card-actions .turn-off{
    color: white;
}
mat-card-actions .turn-on{
    background-color: #009688;
}
mat-card-actions .turn-off{
    background-color: #f44336;
}
.status p{
    margin: 0
}