<nav>
  <a routerLink="/home" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    Home
  </a>
  <a routerLink="/blogs" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="blog icon">auto_awesome</mat-icon>
    Blogs
  </a>
  <a routerLink="/devices" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="devices icon">computer</mat-icon>
    Devices
  </a>
</nav>

<div id="auth-wrapper">
  <span>Is connected : {{authData.IsAuth}}</span>
  <button *ngIf="!authData.IsAuth" mat-button class="connect-button"(click)="signIn()"> Connection </button>
  <button *ngIf="authData.IsAuth" mat-button class="disconnect-button"(click)="signOut()"> Deconnect </button>
</div>

<div id="content">
  <router-outlet></router-outlet>
</div>