/* You can add global styles to this file, and also import other style files */

:root{
    --success-color: #009688;
    --warning-color: #f44336;
    --primary-color: #B00B69;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-success, .toast-warning{
    color: white;
}
.toast-success{
    background-color: var(--success-color);
}
.toast-alert{
    background-color: var(--warning-color);
    color: white;
}